<template>
  <div>
    <v-layout justify-center align-center wrap>
      <v-flex xs12>
        <h1>Страница создания товара</h1>
      </v-flex>
        <v-flex xs12>
            <v-stepper v-model="step">
              <v-stepper-header>
                <v-stepper-step :complete="step > 1" step="1">Общая информация</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="step > 2" step="2">Изображение</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="step > 3" step="3">Связи</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="step > 4" step="4">Финиш</v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card>
                    <v-card-title>
                      <v-form v-model="valid" class="flex xs12">
                        <v-layout wrap>
                          <v-flex xs12>
                              <v-text-field
                              placeholder='Название товара'
                              :rules='textRule'
                              required
                              v-model="createProduct.name"
                              ></v-text-field>
                          </v-flex>
                          {{slugRewrite}}
                          <v-flex xs12>
                              <v-textarea
                              placeholder='Описание товара'
                              :rules='textRule'
                              required
                              v-model="createProduct.description"
                              ></v-textarea>
                          </v-flex>
                          <v-flex xs6>
                              <v-text-field
                              placeholder='Цена товара'
                              :rules='textRule'
                              required
                              v-model="createProduct.price"
                              ></v-text-field>
                          </v-flex>
                          <v-flex xs6>
                              <v-text-field
                              placeholder='Количество товара'
                              :rules='textRule'
                              required
                              v-model="createProduct.quantity"
                              ></v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-form>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='createBaseProd' 
                            :loading='processing'
                            :disabled='!valid'
                            round
                        >
                        Создать и продолжить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="2">
                  <v-card>
                    <v-card-title>
                      <v-form v-model="valid" class="flex xs12">
                        <v-flex xs12>
                            <v-card-title> 
                            <span> Изображение: 
                                <input type="file" id="file" ref="prodImg" v-on:change="prodImgChange"/>
                            </span>
                            <v-progress-circular :value="createProduct.imgProgress"></v-progress-circular>
                            </v-card-title>
                        </v-flex>
                      </v-form>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='prodImgUpload' 
                            :loading='processing'
                            :disabled='isImgUpdate'
                            round
                        >
                        <v-icon v-html="'cloud_upload'"></v-icon>
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="3">
                  <v-card>
                    <v-card-title>
                      <v-flex xs12>
                        <h2>Выберите к каким категориям отнести товар</h2>
                      </v-flex>
                      <v-flex xs12>
                        <v-checkbox
                          v-for='(item, index) in prodCategories' :key='index'
                          :id="item.doc" 
                          :value="item.name"
                          :label="`Checkbox 1: ${item.name}`"
                          v-model="createProduct.checkedCategories"
                        >
                        </v-checkbox>
                      </v-flex>
                    </v-card-title>
                    <v-card-actions>
                      <v-btn @click='prodCatUpload' 
                            :loading='processing'
                            :disabled='checkedCat'
                            round
                        >
                        Сохранить
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-stepper-content>
                <v-stepper-content step="4">
                  <h3>
                    Товар успешно создан. Для создания ещё одного товара нажмите 
                    <v-btn @click='oneMoreProduct'>сюда</v-btn>
                  </h3>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
        </v-flex>
    </v-layout>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'
import {mapMutations} from 'vuex'

export default { 
  data () {
    return {
      step: 0,
      valid: false,
      textRule: [
        v => !!v || 'Поле обязательно'
      ],
      createProduct:{
        name: '',
        description: '',
        price: null,
        img: '',
        quantity: null,
        slug: '',
        doc: Math.floor(Date.now() / 1000).toString(),
        date: Date.now().toString(),
        checkedCategories: []
      },
      imgProgress: 0
    }
  },
  methods: {
    createBaseProd () {
      this.$store.dispatch('admin/createProd/CREATE_PRODUCT', this.createProduct)
      this.step = 2
      this.valid = false
    },
    oneMoreProduct () {
      this.createProduct.name = ''
      this.createProduct.description = ''
      this.createProduct.price = ''
      this.createProduct.img = ''
      this.createProduct.quantity = ''
      this.createProduct.doc = Math.floor(Date.now() / 1000).toString()
      this.createProduct.date = Date.now().toString()
      this.createProduct.checkedCategories = []
      this.step = 1
      console.log(this.$refs.prodImg.files)
    },
    prodImgChange () {
      this.createProduct.img = new Blob([this.$refs.prodImg.files[0]], { type: "image/jpeg" })
    },
    prodImgUpload () {
      this.valid = false
      this.$store.dispatch('admin/createProd/SET_PRODUCT_IMG', {img: this.createProduct.img, doc: this.isDoc})
      this.step = 3
    },
    prodCatUpload () {
      this.step = 4
      this.$store.dispatch('admin/createProd/SET_CATEGORIES', this.createProduct)
    }
  },
  computed: {
    slugRewrite () {
      let arr={'а':'a', 'б':'b', 'в':'v', 'г':'g', 'д':'d', 'е':'e', 'ж':'g', 'з':'z', 'и':'i', 'й':'y', 'к':'k', 'л':'l', 'м':'m', 'н':'n', 'о':'o', 'п':'p', 'р':'r', 'с':'s', 'т':'t', 'у':'u', 'ф':'f', 'ы':'i', 'э':'e', 'А':'A', 'Б':'B', 'В':'V', 'Г':'G', 'Д':'D', 'Е':'E', 'Ж':'G', 'З':'Z', 'И':'I', 'Й':'Y', 'К':'K', 'Л':'L', 'М':'M', 'Н':'N', 'О':'O', 'П':'P', 'Р':'R', 'С':'S', 'Т':'T', 'У':'U', 'Ф':'F', 'Ы':'I', 'Э':'E', 'ё':'yo', 'х':'h', 'ц':'ts', 'ч':'ch', 'ш':'sh', 'щ':'shch', 'ъ':'', 'ь':'', 'ю':'yu', 'я':'ya', 'Ё':'YO', 'Х':'H', 'Ц':'TS', 'Ч':'CH', 'Ш':'SH', 'Щ':'SHCH', 'Ъ':'', 'Ь':'',
      'Ю':'YU', 'Я':'YA'};
      let replacer = function(a){
        return arr[a]||a
      }
      this.createProduct.slug = this.createProduct.name.toLowerCase().replace(/[А-яёЁ]/g, replacer).split(' ').join('-')
      return this.createProduct.slug
    },
    processing () {
      return this.getterProcessing
    },
    isImgUpdate () {
      if (this.createProduct.img){
        return false
      }else{
        return true
      }
    },
    checkedCat () {
      if (this.createProduct.checkedCategories.length != 0) {
        return false
      } else{
        return true
      }
    },
    ...mapGetters({
      getterProcessing: 'processing',
      isDoc: 'admin/createProd/isDoc',
      isImg: 'admin/createProd/isImg',
      prodCategories: 'admin/createProd/prodCategories'
    }),
    ...mapActions({
      uploadImg: 'admin/createProd/SET_PRODUCT_IMG'
    }),
    ...mapMutations({
      clearProduct: 'admin/createProd/CREATE_PRODUCT',
      clearProductImg: 'admin/createProd/CREATE_PRODUCT_IMG'
    })
  }, 
  async fetch ({store}) {
    await store.dispatch('admin/createProd/GET_CATEGORIES')
  }
}
</script>

