<template>
  <div>
    <v-layout justify-center align-center v-if='isAdmin' wrap>
      <v-flex xs12>
        <h1>Страница админа</h1>
      </v-flex>
      <v-flex xs12>
        <v-tabs
          color="cyan"
          dark
          slider-color="yellow"
        >
          <v-tab ripple>
            Магазин
          </v-tab>
          <v-tab ripple>
            Слайдеры
          </v-tab>
          <v-tab-item>
            <v-tabs>
              <v-tab>
                Категории
              </v-tab>
              <v-tab>
                Товары
              </v-tab>
              <v-tab-item>
                <v-layout>
                  <v-flex xs12>
                    <v-btn  :to="`/admin/category/create`" :nuxt='true'>
                      Создать категорию
                    </v-btn>
                    <v-data-table
                      :headers="categoryHeaders"
                      :items="categories"
                      class="elevation-1"
                    >
                      <template slot="items" slot-scope="props">
                        <td>
                          <v-img :src='props.item.img'></v-img>
                        </td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.description }}</td>
                        <td>{{ props.item.products }}</td>
                        <td>{{ props.item.id }}</td>
                      </template>
                    </v-data-table>
                  </v-flex>
                </v-layout>
              </v-tab-item>
              <v-tab-item>
                <v-layout>
                  <v-flex xs12>
                    <v-btn  :to="`/admin/product/create`" :nuxt='true'>
                      Создать Товар
                    </v-btn>
                    <v-data-table
                      :headers="productHeaders"
                      :items="products"
                      class="elevation-1"
                    >
                      <template slot="items" slot-scope="props">
                        <td>
                          <v-img :src='props.item.img'></v-img>
                        </td>
                        <td>{{ props.item.name }}</td>
                        <td>{{ props.item.price }}</td>
                        <td>{{ props.item.description }}</td>
                        <td>{{ props.item.id }}</td>
                      </template>
                    </v-data-table>
                  </v-flex>
                    <v-dialog v-model='productDialog' width="605">
                      <v-card>
                        <v-card-title> 
                          тут редактировать
                        </v-card-title>
                      </v-card>
                    </v-dialog>
                </v-layout>
              </v-tab-item>
            </v-tabs>
          </v-tab-item>
          <v-tab-item>
            <v-layout>
              <v-flex xs12>
                <v-btn  :to="`/admin/sliders/create`" :nuxt='true'>
                  Создать слайдер
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout wrap>
              <v-flex xs12 sm3 v-for="(item, index) in getterSliders" :key="index"
                text-xs-center>
                <v-card>
                  <v-card-title :class="'justify-center'">
                    <p>{{ item.name }}</p>
                  </v-card-title>
                  <v-card-actions :class="'justify-center'">
                    <v-tooltip top>
                      <v-btn 
                        slot="activator" 
                        nuxt :to="`/admin/sliders/${item.name}`">
                        <v-icon>edit</v-icon>
                      </v-btn>
                      <span>Редактировать</span>
                    </v-tooltip>
                    <v-spacer/>
                    <v-tooltip top>
                      <v-btn 
                        slot="activator" 
                        @click="deleteSlider(item.name, index)">
                        <v-icon>delete</v-icon>
                      </v-btn>
                      <span>Удалить</span>
                    </v-tooltip>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-layout>
          </v-tab-item>
        </v-tabs>
      </v-flex>
    </v-layout>
    <v-layout justify-center align-center v-else>
      <h1>Страница доступна только админу</h1>
    </v-layout>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

export default { 
  data () {
    return {
      createCategory:{
        name: '',
        description: '',
        imgProgress: 0
      },
      productDialog: false,
      productHeaders: [
         {
            text: 'Img',
            align: 'left',
            sortable: false,
            value: 'img'
          },
          { text: 'Name', value: 'name' },
          { text: 'Price', value: 'price' },
          { text: 'Description', value: 'description', sortable: false },
          { text: 'ID', value: 'id' },
      ],
      categoryHeaders: [
        {
            text: 'Img',
            align: 'left',
            sortable: false,
            value: 'img'
          },
          { text: 'Name', value: 'name' },
          { text: 'Description', value: 'description', sortable: false },
          { text: 'Products', value: 'products' },
          { text: 'ID', value: 'id' }
      ]
    }
  },
  methods: {
    deleteSlider(name, index) {
      this.$store.dispatch('sliders/DELETE_SLIDER', {name: name, index: index})
    }
  },
  computed: {
    processing () {
      return this.getterProcessing
    },
    isAdmin () {
      return this.$store.state.user.user.isAdmin 
    },
    products () {
      return this.allProducts
    },
    categories () {
      return this.allCategories
    },
    ...mapGetters({
      allProducts: 'shop/allProducts',
      allCategories: 'shop/allCategories',
      getterProcessing: 'processing',
      getterSliders: 'sliders/sliders'
    })
  }, 
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_PRODUCTS')
    await store.dispatch('shop/GET_CATEGORIES')
    await store.dispatch('sliders/GET_SLIDERS')
  }
}
</script>

