<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 text-xs-center>
        <h2 xs12>Магазин</h2>
        <app-cart-quick></app-cart-quick>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm4>
        <v-img :src='singleProduct.img'
        >
        </v-img>
      </v-flex>
      <v-flex xs12 sm8>
        <v-layout>
          <v-flex xs12>
            <span>{{singleProduct.name}}</span>
          </v-flex>
          <v-flex xs12>
            <span>{{singleProduct.description}}</span>
          </v-flex>
          <v-flex xs12>
            <span>{{singleProduct.price}}</span>
          </v-flex>
          <v-flex xs12>
            <v-btn @click='buyProduct'>Купить</v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import AppProduct from '~/components/shop/AppProduct'
import AppCartQuick from '~/components/shop/AppCartQuick'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  head () {
    return {
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        { hid: 'description', name: this.singleProduct.name, content: 'My custom description' }
      ]
    }
  },
  components: {
    AppProduct,
    AppCartQuick
  },
  computed: {
    ...mapGetters({
      singleProduct: 'shop/singlePRODUCT'
    })
  },
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_SINGLE_PRODUCT', route.params.product)
  }
}
</script>
