<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 text-xs-center>
        <v-img :src='category.img'
        >
        </v-img>
        <h2 xs12>Категория {{category.name}}</h2>
        <app-cart-quick></app-cart-quick>
      </v-flex>
      <v-flex xs12>
        <span>{{category.description}}</span>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm2>
        <app-layareed :products='products' @onLayareed='onLayareed'></app-layareed>
      </v-flex>
      <v-flex xs12 sm10>
        <app-product :product='filteredItems' :category='category'></app-product>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import AppProduct from '~/components/shop/AppProduct'
import AppLayareed from '~/components/shop/AppLayareed'
import AppCartQuick from '~/components/shop/AppCartQuick'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  data () {
    return {
      filterParams: []
    }
  },
  methods: {
    onLayareed (data){
      this.filterParams = data
    }
  },
  computed: {
    filteredItems () {
      return this.products.filter( product => {
        if (this.filterParams.length != 0){
          return this.filterParams.every( filterAppied => {
            if (product.categories.includes(filterAppied)) {
              return product.categories.includes(filterAppied);
            }
          })
        }
        return product    
      })
    },
    category () {
      return this.singleCategory
    },
    products () {
      return this.allProducts.filter( product => {
        if (product.categories)
          return product.categories.includes(this.category.name)
      })
    },
    ...mapGetters({
      singleCategory: 'shop/singleCATEGORY',
      allProducts: 'shop/allProducts'
    })
  },
  components: {
    AppProduct,
    AppCartQuick,
    AppLayareed
  },
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_SINGLE_CATEGORY', route.params.category)
    await store.dispatch('shop/GET_PRODUCTS')
  }
}
</script>
