<template>
  <div>
    <v-layout wrap>
      <v-flex xs12 sm6 text-xs-right>
        <h2>Список категорий</h2>
      </v-flex>
      <app-cart-quick></app-cart-quick>
      <v-flex xs12 sm3 v-for='(item, index) in categories' :key='index'>
        <v-card>
          <nuxt-link :to="`/shop/${item.slug}`" >
            <v-img :src='item.img'></v-img>
            <v-card-title>
              {{item.name}}
            </v-card-title>
          </nuxt-link>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import AppCartQuick from '~/components/shop/AppCartQuick'
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  computed: {
    ...mapGetters({
      categories: 'shop/allCategories'
    })
  },
  components: {
    AppCartQuick
  },
  async fetch ({store, route}) {
    await store.dispatch('shop/GET_CATEGORIES')
  }
}
</script>
