<template>
  <div>
    <nuxt-link v-for='(item, index) in breadcrumbs' :key='index' :to='item.href'>{{item.text}}</nuxt-link>
    <span>{{this.$route.name}}</span>
  </div>
</template>

<script>
  export default {
    computed: {
      breadcrumbs () {
        let breadcrumbs = []
        let item  = ''
        let breadcrumbsStart = this.$route.fullPath.split('/')
        
        for (let index = 0; index < breadcrumbsStart.length-1; index++) {
          if (index == 0){
            breadcrumbs.push({
              text: 'Home',
              href: '/'
            })
          }else {
            item += `/${breadcrumbsStart[index]}`
            breadcrumbs.push({
              text: breadcrumbsStart[index],
              href: item
            })
          }
        }
        return breadcrumbs
      }
    }
  }
</script>

<style scoped>

</style>