<template>
  <v-flex xs12 sm6 text-xs-right>
    <v-bottom-sheet v-model="sheet">
      <v-badge left slot="activator">
        <span slot="badge">{{productsInCart.length}}</span>
        <v-icon
        large
        color="grey lighten-1"
        >
        shopping_cart
        </v-icon>
      </v-badge>
      <no-ssr placeholder="Loading...">
        <v-layout wrap align-center>
          <v-flex sm12 text-xs-center>
            <v-btn>
              Оформить
            </v-btn>
          </v-flex>
          <v-flex sm12>
            <v-layout wrap>
              <v-flex v-for='(item, index) in productsInCart' :key='index' sm3>
                <v-card>
                  <v-layout wrap align-center>
                    <v-flex sm4>
                      <router-link :to="`/shop/${item.doc}`">
                        <v-img :src='item.img'></v-img>
                      </router-link>
                    </v-flex>
                    <v-flex sm7>
                      <v-card-title class="justify-center">
                      <div class="text-xs-center">
                        <h2>
                          <router-link :to="`/shop/${item.doc}`">
                            {{item.name}}
                          </router-link>
                        </h2>
                        <h3>{{item.price}}</h3>
                        <v-btn @click='removeFromCart({index: index, id: item.doc})' small>
                          <v-icon>delete</v-icon>
                        </v-btn>
                      </div>
                    </v-card-title>
                    </v-flex>
                  </v-layout>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </no-ssr>
    </v-bottom-sheet>
  </v-flex>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapMutations} from 'vuex'

export default {
  props: [],
  data () {
    return {
      sheet: false,
      productInCartHeaders: [
        {
          text: 'Img',
          align: 'left',
          sortable: false,
          value: 'img'
        },
        { text: 'Name', value: 'name' },
        { text: 'Price', value: 'price' },
        { text: 'Description', value: 'description', sortable: false },
        { text: 'ID', value: 'id' },
      ]
    }
  },
  methods: {
    removeFromCart (item) {
      this.$store.commit('shop/REMOVE_PRODUCT_FROM_CART', item)
    }
  },
  computed: {
    productsInCart () {
      return this.productsInCART
    },
    ...mapGetters({
      productsInCART: 'shop/productsInCART'
    }),
    ...mapMutations({
      removeProduct: 'shop/REMOVE_PRODUCT_FROM_CART',
      cart_state: 'shop/CART_STATE'
    })
  },
  created () {
    // sessionStorage.forEach((item)=>{
    //   console.log(item)
    // })
    //console.log(JSON.parse(sessionStorage.getItem(payload.id)))
    //console.log(sessionStorage)
  },
  beforeMount () {
    let sessionProducts = []
    for (let i = 0; sessionStorage.length > i; i++){
      let serialize = JSON.parse(sessionStorage.getItem(sessionStorage.key(i)))
      sessionProducts.push(serialize)
    }
    this.$store.commit('shop/CART_STATE', sessionProducts)
  }
}
</script>
