<template>
  <ul>
    <li>Цена</li>
    <li>
      <v-layout wrap>
        <v-flex xs12>
          <v-range-slider
            v-model="price"
            :max="maxPrice"
            :min="minPrice"
            :step="priceStep"
          ></v-range-slider>
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="price[0]"
            class="mt-0"
            hide-details
            single-line
            type="number"
          ></v-text-field>
        </v-flex>
        <v-flex xs6>
          <v-text-field
            v-model="price[1]"
            class="mt-0"
            hide-details
            single-line
            type="number"
          ></v-text-field>
        </v-flex>
      </v-layout>
    </li>
    <li>Категории</li>
    <li v-for='(item, i) in getCategories' :key='i' @click='setActive(item)'>
      <v-checkbox :id="item" 
                  :value="item"
                  :label="item"
      >
      </v-checkbox >
    </li>
  </ul>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

export default {
  props: ['products'],
  data () {
    return {
      filtersAppied: [],
      price: [],
      minPrice: null,
      maxPrice: null,
      priceStep: null
    }
  },
  methods: {
    setActive (element){
      if(this.filtersAppied.indexOf(element) == -1){
        this.filtersAppied.push(element)
        this.$emit('onLayareed', this.filtersAppied)
      }else{
        this.filtersAppied.splice(this.filtersAppied.indexOf(element), 1)
        this.$emit('onLayareed', this.filtersAppied)
      }
    },
  },
  computed: {
    getCategories () {
      let obj = {}
      let str = ''
      let categories = []
      this.products.forEach(element => {
        element.categories.forEach(item => {
          categories.push(item)
        })
      })
      for (let i = 0; i < categories.length; i++) {
          str = categories[i]
          obj[str] = categories[i]
      }
      return obj
    }
  },
  created () {
    let pricesArr = []

    this.products.forEach(item => {
      pricesArr.push(item.price)
    })

    this.minPrice = Math.min(...pricesArr)
    this.maxPrice = Math.max(...pricesArr)

    this.price.push(this.minPrice, this.maxPrice)
    this.priceStep = Math.round(this.maxPrice / 500)
  }
}
</script>

<style scoped>

</style>