.hooper{position:relative;overflow:hidden;box-sizing:border-box;width:100%
}
.hooper *{box-sizing:border-box
}
.hooper-track{display:flex;box-sizing:border-box;width:100%;padding:0;margin:0
}
.hooper-slide{
  flex-shrink:0;
  background-color: #62caaa;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 30px;
  border-radius: 10px;
  max-height: 350px;
}
.hooper.is-vertical .hooper-track{flex-direction:column;height:200px
}
.hooper.is-rtl{direction:rtl
}
.hooper-hidden{display:none
}
.hooper-progress{position:absolute;top:0;right:0;left:0;height:4px;background-color:#efefef
}
.hooper-progress-inner{height:100%;background-color:#4285f4;transition:.3s
}
.hooper-pagination{position:absolute;bottom:0;right:50%;transform:translateX(50%);display:flex;padding:5px 10px
}
.hooper-indicators{display:flex;list-style:none;margin:0;padding:0
}
.hooper-indicator.is-active,.hooper-indicator:hover{background-color:#4285f4
}
.hooper-indicator{margin:0 2px;width:12px;height:4px;border-radius:4px;border:none;padding:0;background-color:#fff;cursor:pointer
}
.hooper-pagination.is-vertical{bottom:auto;right:0;top:50%;transform:translateY(-50%)
}
.hooper-pagination.is-vertical .hooper-indicators{flex-direction:column
}
.hooper-pagination.is-vertical .hooper-indicator{width:6px
}
.hooper-next,.hooper-prev{background-color:transparent;border:none;padding:1em;position:absolute;top:50%;transform:translateY(-50%);cursor:pointer
}
.hooper-next.is-disabled,.hooper-prev.is-disabled{opacity:.3;cursor:not-allowed
}
.hooper-next{right:0
}
.hooper-prev{left:0
}
.hooper-navigation.is-vertical .hooper-next{top:auto;bottom:0;transform:initial
}
.hooper-navigation.is-vertical .hooper-prev{top:0;bottom:auto;right:0;left:auto;transform:initial
}
.hooper-navigation.is-rtl .hooper-prev{left:auto;right:0
}
.hooper-navigation.is-rtl .hooper-next{right:auto;left:0
}