<template>
  <v-app :dark='appMode'>
    <v-content>
      <v-container
        grid-list-md
      >
        <v-layout justify-center align-center>
          <app-header/>
        </v-layout>
        <v-layout>
          <app-breadcrumbs/>
        </v-layout>
        <nuxt/>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import AppHeader from '~/components/AppHeader'
import AppBreadcrumbs from '~/components/AppBreadcrumbs'
import {mapGetters} from 'vuex'

export default {
  components: {
    AppHeader,
    AppBreadcrumbs
  },
  computed: {
    ...mapGetters({
      appMode: 'darkMode'
    })
  },
}
</script>
<style lang='scss'>
  img{
    max-width: 100%;
  }
</style>
