<template>
    <v-layout column justify-center align-center>
      <v-content>
          <h1>blog page item</h1>
          <h2>{{singlePost.title}}</h2>
          <p>{{singlePost.message}}</p>

          <h2>Комментарии к статье</h2>
            <div v-if='comments != 0'> 
              <v-card v-for="(item, index) in comments" :key='index'>
                <v-card-title>
                  <div>
                    <h3>{{item.title}}</h3>
                    <p>{{item.text}}</p>
                    <p>{{item.author}}</p>
                  </div>
                </v-card-title>
              </v-card>
            </div>
            <v-card v-else>
              <v-card-title>
                <h4>Пока комментариев нет</h4>
              </v-card-title>
            </v-card>
          <div v-if='emailVeryfied'>
            <h2>Оставить комментарий</h2>
            <v-form>
              <v-text-field
                v-model="titleComment"
                label="Заголовок комментария"
                required
              ></v-text-field>
              <v-text-field
                v-model="comment"
                label="Текст комментария"
                required
              ></v-text-field>
              <v-btn @click='createComment'>Отправить</v-btn>
            </v-form>
          </div>
          <h3 v-else>Хотите оставить комментарий? Подтвердите email в личном кабинете</h3>
      </v-content>
    </v-layout>
</template>

<script>
import { mapActions } from 'vuex'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      comment: '',
      titleComment: ''
    }
  },
  computed: {
    singlePost () {
      return this.$store.state.posts.singlePost
    },
    ...mapGetters({
      emailVeryfied: 'user/emailVeryfied',
      comments: 'posts/comments'
    })
  },
  methods: {
    createComment () { 
      let commentObj = {
        author: this.$store.state.user.user.login,
        title : this.titleComment,
        text: this.comment,
        userId: this.$store.state.user.user.userId,
        date: Date.now().toString(),
        doc: this.$store.state.posts.singlePost.doc
      }
      this.$store.dispatch('posts/CREATE_COMMENT', commentObj)
    },
    ...mapActions({
      CREATE_Comment: 'posts/CREATE_COMMENT'
    })
  },
  async fetch ({store, route}) {
    await store.dispatch('posts/GET_SINGLE_POST', route.params.id)
  }
}
</script>
