<template>
  <div>
    <v-flex xs12>
      <h1>Личный кабинет</h1>
    </v-flex>
    <v-tabs
      color="cyan"
      dark
      slider-color="yellow"
      v-if='isLogged'
    >
      <v-tab ripple>
        Моя информация
      </v-tab>
      <v-tab ripple>
        Блог
      </v-tab>
      <v-tab-item>
        <v-layout>
          <v-flex xs12 sm2 >
            <v-card>
              <v-img
                :src="avatarImg"
                :lazy-src="avatarImg"
                aspect-ratio="1"
                class="grey lighten-2"
                v-if='avatarImg'
                :max-width="'100%'"
              >
                <v-layout
                  slot="placeholder"
                  fill-height
                  align-center
                  justify-center
                  ma-0
                >
                  <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                </v-layout>
              </v-img>
              <img src="~assets/img/default-avatar.jpeg" alt="" v-else>
              <v-card-actions class="justify-center">
                <v-btn @click='avatarDialog = !avatarDialog'
                      small
                      round
                >
                  <v-icon v-html="'edit'" v-if='!avatarDialog'></v-icon>
                  <v-icon v-html="'close'" v-else></v-icon>
                </v-btn>
              </v-card-actions>
            </v-card>
            <v-dialog v-model='avatarDialog' width="605">
              <v-card>
                <v-card-title> 
                  <v-progress-linear :value="avatarProgress"></v-progress-linear>
                  <div class="headline mb-0">
                    <span>
                      <input type="file" id="file" ref="file" v-on:change="handleFileUpload()"/>
                    </span>
                    <v-btn @click='setAvatar' 
                          :loading='processing'
                          :disabled='processing'
                          round
                    >
                      <v-icon v-html="'cloud_upload'"></v-icon>
                    </v-btn>
                  </div>
                </v-card-title>
              </v-card>
            </v-dialog>
          </v-flex>
          <v-flex xs12 sm4>
            <v-layout row wrap justify-space-around>
              <v-flex d-flex>
                <v-card>
                  <v-card-title>
                    <span class="headline mb-0">{{myEmail}}</span>
                    <v-spacer></v-spacer>
                    <v-btn @click='emailDialog = !emailDialog'
                            small
                            round
                    >
                      <v-icon v-html="'edit'" v-if='!emailDialog'></v-icon>
                      <v-icon v-html="'close'" v-else></v-icon>
                    </v-btn>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex d-flex>
                <v-card>
                  <v-card-title>
                    <span class="headline mb-0">{{myLogin}}</span>
                    <v-spacer></v-spacer>
                    <v-btn @click='loginDialog = !loginDialog'
                            small
                            round
                    >
                      <v-icon v-html="'edit'" v-if='!loginDialog'></v-icon>
                      <v-icon v-html="'close'" v-else></v-icon>
                    </v-btn>
                  </v-card-title>
                </v-card>
              </v-flex>
              <v-flex d-flex>
                <v-card>
                  <v-card-title> 
                    <span class="headline mb-0">Верификация:</span> 
                    <v-spacer></v-spacer>
                    <v-btn v-if='emailVeryfied'
                            small
                            round
                            flat
                    >
                      <v-icon v-html="'check_circle'"></v-icon>
                    </v-btn>
                    <span v-else>
                      <v-btn @click='verifyEmail'>
                        <v-icon check_circle v-html="'cancel_presentation'" left></v-icon>
                        Подтвердить email
                      </v-btn>
                      <v-btn @click='checkEmail'>
                        <v-icon check_circle v-html="'cancel_presentation'" left></v-icon>
                        Проверить подтверждение email
                      </v-btn>
                    </span>
                  </v-card-title>
                </v-card>
              </v-flex>
            </v-layout>

            <v-dialog v-model='emailDialog' width="400">
              <v-card>
                <v-card-actions>
                  <v-text-field
                    label="Email"
                    v-model='email'
                  ></v-text-field>
                  <v-btn @click='CHANGEEmail'
                        :disabled='processing'
                        round    
                  >
                    Send
                    <v-icon v-html="'send'" small right ></v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model='loginDialog' width='400'>
              <v-card>
                <v-card-actions>
                  <v-text-field
                    label="Логин"
                    v-model='login'
                  ></v-text-field>
                  <v-btn @click='SETLogin'
                        :disabled='processing'
                        round    
                  >
                    Send
                    <v-icon v-html="'send'" small right ></v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>

          </v-flex>
        </v-layout>
      </v-tab-item>
      <v-tab-item>
        <v-layout v-if='emailVeryfied' wrap>
          <v-flex xs12 sm5>
            <h2 class="display-1">Написать пост</h2>
            <v-card>
              <v-card-actions>
                <v-layout wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Заголовок"
                      v-model='postTitle'
                    ></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-textarea
                      label="Текст"
                      v-model='postMessage'
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-card-actions>
            </v-card>
            <v-btn @click='publicPost'>Опубликовать</v-btn>
          </v-flex>
          <v-flex xs12 sm7>
            <h2 class="display-1">Мои посты</h2>
            <div class="d-flex justify-between align-center mb-3" v-if='displayMyPosts.length != 0'>
              <v-btn @click="panelAll">Раскрыть все</v-btn>
              <v-btn @click="panelNone">Скрыть все</v-btn>
            </div>
            <v-card v-if='editMode'>
              <v-flex xs12>
                <v-text-field
                  v-model="editPostTitle"
                ></v-text-field>
                <v-textarea
                :value='editPostText'
                v-model='editPostText'
                >  
                </v-textarea>
                <span>
                  <v-btn @click='editPost({
                    message: editPostText,
                    title: editPostTitle,
                    doc: postID
                  })'
                        small
                        round
                  >
                    <v-icon v-html="'check'"></v-icon>
                  </v-btn>
                  <v-btn @click='editMode = !editMode'
                        small
                        round
                  >
                    <v-icon v-html="'close'"></v-icon>
                  </v-btn>
                </span>
              </v-flex>
            </v-card>
            <v-expansion-panel expand v-model='panel'>
              <v-expansion-panel-content
                v-for='(item, index) in displayMyPosts' :key='index'
              >
                <h3 slot="header" class="mb-0">{{item.title}}</h3>
                <v-card>
                  <v-card-text>
                    <p>
                      {{item.message}}
                    </p>
                    <v-btn @click='showEditor({
                      doc: item.doc,
                      title: item.title,
                      message: item.message
                    })'
                            small
                            round
                    >
                      Редактировать
                    </v-btn>
                    <v-layout wrap>
                      <v-flex xs12 sm6>
                        <nuxt-link :to="`blog/${item.doc}`" :key="index" :nuxt='true'>
                          Перейти в статью
                        </nuxt-link>
                      </v-flex>
                      <v-flex xs12 sm6 text-sm-right>
                        <p>Дата {{item.date}} </p>
                      </v-flex>
                    </v-layout>
                  </v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
            <v-btn @click='getMyPosts' align-self-center>Загрузить</v-btn>
          </v-flex>
        </v-layout>
        <v-card v-else>
          <p>Хотите публиковать посты? Подтвердите Email</p> 
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-layout v-else>
      <v-flex xs12>
        <v-btn @click='showLogin'>Войдите</v-btn>
          или
        <v-btn @click='showRegister'>зарегестрируйтесь</v-btn>
        чтобы видеть содержимое страницы.
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapMutations } from 'vuex'
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      login: '',
      email: '',
      loginForm: false,
      emailForm: false,
      postTitle: '',
      postMessage: '',
      myPosts: [],
      file: '',
      avatarDialog: false,
      emailDialog: false,
      loginDialog: false,
      panel: [],
      editMode: false,
      editPostText: null,
      editPostTitle: null,
      postID: null
    }
  },
  computed: {
    processing () {
      return this.getterProcessing
    },
    avatarImg () {
      return this.avatarImg
    },
    avatarProgress () {
      return this.avatarPROGRESS
    },
    displayMyPosts () {
      let myPosts = []
      let posts = this.$store.state.posts.postsInCabinet
      posts.forEach((item) => {
        if (item.userId == this.$store.state.user.user.userId){
          myPosts.push(item)
        }
      })
      this.myPosts = myPosts
      return this.myPosts
    },
    ...mapGetters({
      emailVeryfied: 'user/emailVeryfied',
      isLogged: 'user/isLogged',
      myLogin: 'user/myLogin',
      myEmail: 'user/myEmail',
      myId: 'user/myId',
      avatarPROGRESS: 'user/avatarProgress',
      avatarImg: 'user/avatarImg',
      getterProcessing: 'processing'
    })
  },
  methods: {
    showEditor (text) {
      this.editMode = true
      this.postID = text.doc
      this.editPostText = text.message
      this.editPostTitle = text.title
    },
    closeEditor (index) {
      this.editMode = false
    },
    editPost (obj) {
      this.$store.dispatch('posts/EDIT_POST', obj)
      this.$store.dispatch('posts/GET_POSTS_IN_CABINET')
    },
    panelAll () {
      this.panel = [...Array(this.myPosts.length).keys()].map(_ => true)
    },
    panelNone () {
      this.panel = []
    },
    handleFileUpload () {
      this.file = new Blob([this.$refs.file.files[0]], { type: "image/jpeg" })
    },
    setAvatar () {
      this.$store.dispatch('user/SET_AVATAR', {file: this.file, id: this.myId})
    },
    checkEmail () {
      this.$store.dispatch('EMAIL_CHECK')
    },
    showLogin () {
      this.$store.commit('user/SHOW_SIGNIN', true)
    },
    showRegister () {
      this.$store.commit('user/SHOW_REG', true)
    },
    verifyEmail () {
      this.$store.dispatch('user/VERIFY_EMAIL')
    },
    SETLogin () {
      this.$store.dispatch('user/SET_LOGIN', {login: this.login, userId: this.myId})
    },
    CHANGEEmail (){
      this.$store.dispatch('user/CHANGE_EMAIL', {email: this.email, userId:this.myId})
    },
    publicPost (){
      this.$store.dispatch('posts/CREATE_POST', {
        title : this.postTitle,
        message: this.postMessage,
        doc: Math.floor(Date.now() / 1000).toString(),
        date: Date.now().toString(),
        userId: this.$store.state.user.user.userId
      })
    },
    getMyPosts () {
      this.$store.dispatch('posts/GET_POSTS_IN_CABINET')
    },
    ...mapActions({
      verify: 'user/VERIFY_EMAIL',
      setLogin: 'user/SET_LOGIN',
      changeEmail: 'user/CHANGE_EMAIL',
      checkEmail: 'user/EMAIL_CHECK',
      setAVATAR: 'user/SET_AVATAR',
      edotPOST: 'posts/EDIT_POST'
    }),
    ...mapMutations({
      showLOGIN: 'user/SHOW_SIGNIN',
      showREF: 'user/SHOW_REG'
    })
  }
}
</script>

<style>
.postTextArea{
  display: none;
}
.postTextAreaShow{
  display: block;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>


