<template>
  <div>
    <v-layout>
      <v-flex xs12>
        {{sliderName}}
        <v-btn @click="addSlideForm =! addSlideForm">
          <span v-if="!addSlideForm">Добавить слайд</span>
          <v-icon v-else>close</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
    <v-layout v-if="addSlideForm">
      <v-spacer/>
      <v-flex xs12 sm3>
        <input type="file" accept="image/*" :id="`slide${sliderLength}`" @change="newImg($event, sliderLength)"/>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field :placeholdef="'Описание'" @blur="newTitle($event, sliderLength)"/>
      </v-flex>
      <v-flex xs12 sm2>
        <v-tooltip top>
          <v-btn  icon slot="activator" @click="saveNewSlide(sliderLength)">
            <v-icon>save</v-icon>
          </v-btn>
          <span>Сохранить</span>
        </v-tooltip>
      </v-flex>
    </v-layout>
    <v-layout  v-for="(item, index) in slider" :key="index" wrap align-center>
      <v-flex xs12 sm3>
        <v-img :src="item.img"></v-img>
      </v-flex>
      <v-flex xs12 sm3>
        <input type="file" accept="image/*" :id="`slide${index}`" @change="newImg($event, index)"/>
      </v-flex>
      <v-flex xs12 sm4>
        <v-text-field :value="item.title" @blur="newTitle($event, index)"/>
      </v-flex>
      <v-flex xs12 sm2>
        <v-tooltip top>
          <v-btn  icon slot="activator" @click="saveNewSlide(index)">
            <v-icon>save</v-icon>
          </v-btn>
          <span>Сохранить</span>
        </v-tooltip>
        <v-tooltip top>
          <v-btn  icon slot="activator" @click="deleteSlide(item.index)">
            <v-icon>delete</v-icon>
          </v-btn>
          <span>Удалить</span>
        </v-tooltip>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'

  export default {
    data() {
      return {
        slideItems: {
          img: '',
          title: '',
          index: ''
        },
        addSlideForm: false
      }
    },
    methods: {
      newImg(event, index) {
        this.slideItems.img = event.target.files[0]
      },
      newTitle(event, index) {
        this.slideItems.title = event.target.value
      },
      saveNewSlide(index) {
        this.slideItems.index = index
        this.$store.dispatch('sliders/CHANGE_SLIDE', {
          slider: this.slideItems, 
          name: this.sliderName, 
          index: index
        })
      },
      deleteSlide(index) {
        this.$store.dispatch('sliders/DELETE_SLIDE', {
          name: this.sliderName, 
          index: index
        })
      }
    },
    computed: {
      sliderLength() {
        return this.slider.length
      },
      ...mapGetters({
        slider: 'sliders/slider',
        sliderName: 'sliders/sliderName'
      })
    },
    async fetch ({store, route}) {
      this.sliderName = route.params.single
      await store.dispatch('sliders/GET_SLIDER', route.params.single)
    }
  }
</script>

<style scoped>

</style>