<template>
  <div>
    <v-form class="flex xs12" @submit.prevent="saveSlider">
      <v-layout wrap>
        <v-flex xs12>
            <v-text-field
            placeholder='Название слайдера'
            required
            v-model="sliderName"
            ></v-text-field>
        </v-flex>
        <v-layout wrap v-for="(slider, index) in slider" :key="index">
          <v-flex xs5>
            <span> Изображение: 
              <input type="file" accept="image/*" :id="slider.img+index" @change="slideImgAdd($event, index)"/>
            </span>
            <!-- <v-progress-circular :value="createProduct.imgProgress"></v-progress-circular> -->
          </v-flex>
          <v-flex xs6>
            <v-layout wrap>
              <v-flex xs12>
                  <v-textarea
                  label='Мета описание слайда'
                  v-model="slider.title"
                  ></v-textarea>
                  <v-text-field 
                    label="Ссылка"
                    v-model="slider.link"/>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs1>
            <v-btn @click="addSlide"> Добавить слайд</v-btn>
            <v-btn @click="removeSlide(index)" v-if="showRemoveBtn"> Удалить слайд</v-btn>
          </v-flex>
        </v-layout>
        <v-flex xs12>
          <v-btn type="submit" :disabled="processing">Сохранить слайдер</v-btn>
        </v-flex>
      </v-layout>
    </v-form>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import {mapActions} from 'vuex'

  export default {
    data() {
      return {
        sliderName: '',
        slider: [
          {
            title: '',
            img: '',
            link: ''
          }
        ]
      }
    },
    methods: {
      addSlide() {
        this.slider.push({
            title: '',
            img: '',
            link: ''
        })
      },
      removeSlide(index) {
        this.slider.splice(index, 1)
      },
      slideImgAdd(event, index) {
        this.slider[index].img = event.target.files[0]
      },
      saveSlider() {
        for (let index = 0; index < this.slider.length; index++) {
          this.slider[index].index =  index
        }
        this.$store.dispatch('sliders/SET_SLIDER', {slider: this.slider, name: this.sliderName})
      }
    },
    computed: {
      showRemoveBtn() {
        if(this.slider.length > 1){
          return true
        }else{
          return false
        }
      },
      ...mapGetters({
        processing: 'processing'
      }),
    }
  }
</script>

<style scoped>

</style>